.deps/
.libs/
*.lo
*.o
*.la
Makefile
Makefile.in
acinclude.d/libtool.m4
acinclude.d/ltoptions.m4
acinclude.d/ltsugar.m4
acinclude.d/ltversion.m4
acinclude.d/lt~obsolete.m4
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
db_info
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
